{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}
{% block content %}
   <div class="col-md-8">
       {% for item in news %}
           <div class="card mb-3">
             <div class="card-header">

                 Категория:  <a href="{{ item.category.get_absolute_url }}" class="">{{ item.category.title }}</a>
             </div>
               <div class="card-body">
                   <div class="media">
                       {% if item.photo %}
                          <img src="{{ item.photo.url }}" class="mr-3" alt="{{ item.title }}" style="width: 350px;">
                       {% else %}
                           <img src="{% static 'images/c3.jpg' %}" alt="{{ item.title }}" class="img-fuild mr-3" style="width: 350px;">
                       {% endif %}
                          <div class="media-body">
                              <a href="{{ item.get_absolute_url }}" class=""><h5 class="card-title mt-3">{{ item.title }}</h5></a>
                              <p class="card-text">{{ item.intro_text|safe|truncatechars_html:240 }}</p>
                            </div>
                           <div class="card-footer text-muted">
                               Создано: <i class="far fa-calendar-alt me-1"></i> {{ item.created_at|date:"j E Y" }} ::
                               Автор: {{ item.author }} ::
                               Хиты: {{ item.views }}
                           </div>
                   </div>
                       <div class="card-body mb-5">
                           <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Узнать больше</a>
                       </div>
                </div>
             </div>
       {% endfor %}
       <!--Pagination взято из Документации-->
  <div class="pagination">
      {% if page_obj.has_other_pages %}
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
        {% endif %}
        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">последующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
       {% endif %}
</div>
   <!--/Pagination-->
   </div>
      {% endblock %}
{% block sidebar %}
{% include 'particls/sidebar.html' %}
{% endblock %}